<style>
   @font-face {
       font-family: 'SF UI Text Regular';
       src: font_url('http://dev.ehr1medical.com:8080/assets/sf-ui-text-regular-webfont.eot');
       src: font_url('http://dev.ehr1medical.com:8080/assets/sf-ui-text-regular-webfont.eot?#iefix') format('embedded-opentype'),
            font_url('http://dev.ehr1medical.com:8080/assets/sf-ui-text-regular-webfont.woff2') format('woff2'),
            font_url('http://dev.ehr1medical.com:8080/assets/sf-ui-text-regular-webfont.woff') format('woff'),
            font_url('http://dev.ehr1medical.com:8080/assets/sf-ui-text-regular-webfont.ttf') format('truetype'),
            font_url('http://dev.ehr1medical.com:8080/assets/sf-ui-text-regular-webfont.svg#sf_ui_textregular') format('svg');
       font-weight: normal;
       font-style: normal;
   }

   html, body {
      display: table;
      width: 100%;
      height: 100%;
   }

   * {
      margin: 0;
      padding: 0;
      font-family: 'Times New Roman';
      font-size: 14px;
      color: #000;
   }

   .mailer-wrapper .mailer-top{
      text-align: center;
      color:#fff;
      background:url('http://dev.ehr1medical.com:8080/assets/healthcare-top-bg.png') 100% 100% no-repeat;
      background-position: center 0px;
   }

   .mailer-wrapper .string-top-container{
       margin-left: -22px;
      height: 165px;
   }

   .mailer-wrapper .string-top{
      position:absolute;
      width: 800px;
      height:50px;
      top: 109px;
      background-color:#41b6a6;
   }

   .mailer-wrapper .string {
      text-align: center;
   }

   .mailer-wrapper .string-top .image-center{
      width: 160px;
       height: 50px;
       margin: 0 auto;
       background-image: url('http://dev.ehr1medical.com:8080/assets/rectangle-2.png');
       background-repeat: no-repeat;
       background-size: cover;
   }

   .mailer-wrapper .string-top .image-center img {
      height: 50px;
   }

   .mailer-wrapper .string .string-top-container img {
      margin-top: 15px;
      height: 135px;
   }

   .mailer-wrapper {
      padding: 50px 100px;
   }

   .mailer-container {
      width: 800px;
      height: 900px;
      margin: 0 auto;
      border: 1px solid #979797;
      border-radius: 16px;
   }

   .mailer-content .title {
      font-weight: 600;
   }

   .mailer-content .title-signature-primary {
      margin-top: 40px;
   }

   .mailer-content .title-signature-secondary {
      margin-top: 64px;
   }

   .mailer-sendinvitepdf .title-signature-secondary {
      margin-bottom: 30px;
   }

   .mailer-content .signature {
      position: absolute;
      margin-left: 10px;
   }

   .mailer-sendinvitepdf .mailer-content {
      padding: 93px 30px 0px 60px;
   }

   .form-control {
      text-align: center;
      border-radius: 6px;
      border: 1px solid #41b6a6;
      background-color: #fff;
      padding: 37px 112px;
      font-size: 14px;
      font-weight: 600;

   }

   ::-webkit-input-placeholder {
      color: #000;
   }

   :-moz-placeholder {
      color: #000;
   }

   ::-moz-placeholder {
      color: #000;
   }

   :-ms-input-placeholder {
      color: #000;
   }

   .mailer-content .controls {
      width:100%;
      text-align: center;
      margin-top: 28px;
      margin-bottom: 20px;
   }

   .mailer-sendinvitepdf .link-bottom {
      display: block;
      text-align: center;
      margin-top: 42px;
      font-size: 18px;
      color: #000;
      text-decoration: none;
   }

   .mailer-sendinvitepdf .link-bottom:hover {
      text-decoration: underline;
   }

   .mailer-content .title {
      margin-bottom: 20px;
   }

   .mailer-sendinvitepdf .title-signature-primary {
      margin-bottom: 100px;
   }

   .mailer-sendinvitepdf .authy-id {
      margin-left: auto;
      margin-right: auto;
      display: table;
   }

   .mailer-sendinvitepdf .authy-id p {
       font-size: 18px;
       display: table-cell;
       vertical-align: middle;
   }

   .mailer-sendinvitepdf .mailer-footer {
      position: relative;
      background: #41b6a6;
      left: 0;
      bottom: -16px;
      border-radius: 0 0 16px 16px;
      padding: 12px 85px;
   }

   .mailer-sendinvitepdf .mailer-footer p {
      color: #fff;
   }
</style>
<div class="mailer-wrapper mailer-sendinvitepdf">
  <div class="mailer-container">
      <div class="mailer-top">
         <div class="string">
            <div class="string-top">
               <div class="image-center">
                  <img src="http://dev.ehr1medical.com:8080/assets/ehr.png" alt="num-top" />
               </div>
            </div>
            <div class="string-top-container">
               <img src="http://dev.ehr1medical.com:8080/assets/num-top.png" alt="num-top" />
            </div>
         </div>
      </div>
      <div class="mailer-content">
        <p class="title">Dear, <%= "#{@name} #{@last_name}" %></p>
         <p>You have been invited to access your health records in your EHR 1 Patient Portal.<br/><br/>View upcoming appointment, care notes from your recent appointment(s), send a secure message to the practice or your provider, and more!<br/><br/>To setup your account, first make sure to contact your practice for a Security Access Code:
         <div class="controls">
           <input type="text" class="form-control" disabled placeholder="<%= @code %>"/>
         </div>
         <p>Then, go to the link below and follow the instructions on the page to complete setting up your Patient Portal account.</p>
         <a href="#" class="link-bottom">http://www.ehr1dental.com/new-patient-portal-setup/</a>
         <p class="title-signature-secondary">Sincerely,</p>
         <p class="title-signature-primary">EHR1 Team</p>
      </div>
      <div class="mailer-footer">
         <p>&#169; 2015 EHR One, LLC</p>
      </div>
   </div>
</div>
