$("#modal-patient-all-authorized-representatives").html("<%= escape_javascript(render 'index_form') %>")
$("#modal-patient-all-authorized-representatives").modal("show")

initPickers('#modal-patient-all-authorized-representatives');
initSelect2('#modal-patient-all-authorized-representatives');
initModalFadeInOut('#modal-patient-all-authorized-representatives');
$("#modal-patient-add-authorized-representative").modal("hide");
$("#modal-patient-edit-authorized-representative").modal("hide");

$('#representative-table .checkbox-custom input').click(function() {
  var this_check_box = $(this);
  $.ajax({
    type: 'POST',
    url: '<%= activate_representatives_path %>',
    data: {
      patient_id: '<%= @patient.id %>',
      id: this_check_box.attr('id'),
      active: this_check_box.is(':checked')
    }
  }).done(function() {
    if(this_check_box.is(':checked')) {
      $('#representative-table .checkbox-custom input').prop('checked', false);
      this_check_box.prop('checked', true);
    }
  });
});

$('#representative-table .destroy-button').click(function() {
  $(this).closest('tr').remove();
  if($('#representative-table tbody tr').length == 0) {
    $('#representative-table tbody').remove();
    $('#representative-table').append('<tbody><tr><td class="message" colspan="5">No Representatives Found</td></tr><tbody>');
  }
});